# --- Python Specific ---
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

# --- Virtual Environments ---
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# --- Environment Variables / Secrets ---
.env
.venv
*.env
.secret
.credentials

# --- Distribution / Packaging ---
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Unit Test / Coverage Reports ---
htmlcov/
.tox/
.noseresults
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# --- IDEs and Editors ---
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/

# --- OS Specific ---
.DS_Store
Thumbs.db
